<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.selferral.admin.api.mapper.MemberInfoMapper">

	<select id="getMemberInfo" resultType="io.selferral.admin.api.model.dto.MemberInfo">
		SELECT
			email,
			password,
			grade
          FROM member_info 
         WHERE email = #{email}
	</select>
	
</mapper>