<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.selferral.admin.api.mapper.UidEnrollMapper">

	<select id="getUidEnrollTodayCount" resultType="int">
		SELECT 
			COUNT(*)
		  FROM uid_enroll
		 WHERE status = 'S'
		   AND DATE_ADD(update_dt, INTERVAL 9 HOUR) <![CDATA[ >= ]]> DATE_FORMAT(DATE_ADD(NOW(), INTERVAL 9 HOUR), '%Y-%m-%d 00:00:00')
	</select>
	
	<select id="getUidEnrollDaysAgoCount" resultType="int">
		SELECT 
			COUNT(*)
		  FROM uid_enroll
		 WHERE status = 'S'
		   AND DATE_ADD(update_dt, INTERVAL 9 HOUR) <![CDATA[ >= ]]> DATE_FORMAT(DATE_ADD(DATE_SUB(NOW(), INTERVAL #{days} day), INTERVAL 9 HOUR), '%Y-%m-%d 00:00:00')
	</select>
	
	<select id="getUidEnrollSuccessTotalCount" resultType="int">
		SELECT 
			COUNT(*)
		  FROM uid_enroll
		 WHERE status = 'S'
	</select>
	
	<select id="getUidListExcelDownload" resultType="io.selferral.admin.api.model.dto.UidEnrollList">
		SELECT 
			a.uid,
			b.en_name AS exchangeName,
			DATE_ADD(a.update_dt, INTERVAL 9 HOUR) AS updateDt
		  FROM uid_enroll a JOIN exchange b ON b.exchange_no = a.exchange_no
		 WHERE status = 'S'
		 ORDER BY a.update_dt ASC
	</select>
	
	<select id="getUidEnrollListCount" parameterType="io.selferral.admin.api.model.request.UidEnrollListRequest"  resultType="int">
		SELECT 
			COUNT(*)
		  FROM uid_enroll a JOIN exchange b ON b.exchange_no = a.exchange_no
	</select>
	
	<select id="getUidEnrollList" parameterType="io.selferral.admin.api.model.request.UidEnrollListRequest" 
			resultType="io.selferral.admin.api.model.response.UidEnrollResponse">
		SELECT 
			a.enroll_no,
			b.en_name AS exchangeName,
			a.uid,
			a.status,
			DATE_ADD(a.create_dt, INTERVAL 9 HOUR) AS createDt,
			DATE_ADD(a.update_dt, INTERVAL 9 HOUR) AS updateDt
		  FROM uid_enroll a JOIN exchange b ON b.exchange_no = a.exchange_no
		 ORDER BY a.create_dt DESC
		 LIMIT #{currentPage}, #{limit}
	</select>
	
	<select id="isProccessingUidEnroll" resultType="boolean">
		SELECT
			COUNT(*)
		  FROM uid_enroll
		 WHERE enroll_no = #{enrollNo}
		   AND status = 'P'
	</select>
	
	<update id="updateUidEnroll" parameterType="io.selferral.admin.api.model.entity.UidEnroll">
		UPDATE uid_enroll
		   SET status = #{status},
		   	   update_dt = NOW()	
		 WHERE enroll_no = #{enrollNo}
	</update>
</mapper>