<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.selferral.admin.api.mapper.UidEnrollMapper">

	<select id="getUidEnrollLastStatus" resultType="string">
		SELECT	
			status
		  FROM uid_enroll
		 WHERE exchange_no = #{exchangeNo}
		   AND uid = #{uid}
		 ORDER BY create_dt DESC
		 LIMIT 1
	</select>
	
	<insert id="insertUidEnroll">
		INSERT INTO uid_enroll
		(
			exchange_no,
			uid,
			status,
			create_dt,
			update_dt
		)
		VALUES
		(
			#{exchangeNo},
			#{uid},
			#{status},
			#{createDt},
			#{updateDt}
		)
	</insert>
	
</mapper>